<?xml version="1.0" encoding="utf-8"?>
<androidx.constraintlayout.widget.ConstraintLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="350dp"
    android:layout_height="350dp"
    android:layout_margin="25dp"
    android:background="@drawable/settingpanel"
    android:orientation="horizontal">

    <TextView
        android:id="@+id/textView"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_marginTop="15dp"
        android:fontFamily="@font/berlin"
        android:text="Settings"
        android:textColor="#E0FA1A"
        android:textSize="30sp"
        app:layout_constraintEnd_toEndOf="parent"
        app:layout_constraintStart_toStartOf="parent"
        app:layout_constraintTop_toTopOf="parent" />

    <Button
        android:id="@+id/button"
        android:layout_width="50dp"
        android:layout_height="50dp"
        android:layout_margin="10dp"
        android:background="@drawable/exit"
        app:layout_constraintEnd_toEndOf="parent"
        app:layout_constraintTop_toTopOf="parent" />

    <ScrollView
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:overScrollMode="never"
        android:scrollbars="none"
        android:layout_marginLeft="25dp"
        android:layout_marginRight="25dp"
        android:layout_marginTop="25dp"
        app:layout_constraintEnd_toEndOf="parent"
        app:layout_constraintStart_toStartOf="parent"
        app:layout_constraintTop_toBottomOf="@+id/textView">

        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:fadeScrollbars="true"
            android:visibility="visible"
            android:orientation="vertical" >

            <ImageView
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_gravity="center"
            android:src="@drawable/line" />

            <TextView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:text="General Music"
                android:textSize="15sp"
                android:textStyle="bold"
                android:textColor="@color/white"
                android:fontFamily="@font/berlin"
                android:gravity="left"
                android:padding="5dp" />

            <RadioGroup
                android:id="@+id/radioGroupMusic"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:padding="5dp"
                android:orientation="horizontal">
                <TextView
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="Volume: "
                    android:textSize="13sp"
                    android:fontFamily="@font/berlin"
                    android:textColor="#E0FA1A" />

                <RadioButton
                    android:id="@+id/radioButtonOnMusic"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_marginHorizontal="20dp"
                    android:text="On"
                    android:textColor="@color/white"
                    android:textStyle="bold"
                    android:fontFamily="@font/berlin"
                    android:buttonTint="#E0FA1A"
                    android:checked="true" />

                <RadioButton
                    android:id="@+id/radioButtonOffMusic"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="Off"
                    android:textColor="@color/white"
                    android:textStyle="bold"
                    android:fontFamily="@font/berlin"
                    android:buttonTint="#E0FA1A" />
            </RadioGroup>

            <RelativeLayout
                android:layout_width="wrap_content"
                android:layout_height="wrap_content" >
                <SeekBar
                    android:id="@+id/volumeSeekBar"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:max="100"
                    android:progress="50"
                    android:background="@drawable/seekbar_style"
                    android:thumb="@drawable/seekbar_custom_thumb"
                    android:progressDrawable="@drawable/seekbar_progress"
                    android:layout_marginTop="10dp"
                    android:layout_centerInParent="true"
                    android:layout_marginEnd="10dp"/>

                <TextView
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_below="@+id/volumeSeekBar"
                    android:text="Low"
                    android:textColor="@color/white"
                    android:fontFamily="@font/berlin"
                    android:padding="5dp" />

                <TextView
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_below="@+id/volumeSeekBar"
                    android:text="High"
                    android:textColor="@color/white"
                    android:layout_alignParentEnd="true"
                    android:fontFamily="@font/berlin"
                    android:padding="5dp" />
            </RelativeLayout>

            <ImageView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_gravity="center"
                android:layout_marginTop="20dp"
                android:src="@drawable/line" />

            <TextView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:text="Effect"
                android:textSize="15sp"
                android:textStyle="bold"
                android:textColor="@color/white"
                android:fontFamily="@font/berlin"
                android:gravity="left"
                android:padding="5dp" />

            <RadioGroup
                android:id="@+id/radioGroupEffect"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_marginTop="5dp"
                android:orientation="horizontal">
                <TextView
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="Vibration: "
                    android:textSize="13sp"
                    android:layout_marginStart="5dp"
                    android:fontFamily="@font/berlin"
                    android:textColor="#E0FA1A" /> <!--fix allignment!-->

                <RadioButton
                    android:id="@+id/radioButtonOnEffect"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_marginHorizontal="20dp"
                    android:text="On"
                    android:textColor="@color/white"
                    android:textStyle="bold"
                    android:fontFamily="@font/berlin"
                    android:buttonTint="#E0FA1A"
                    android:checked="true" />

                <RadioButton
                    android:id="@+id/radioButtonOffEffect"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="Off"
                    android:textColor="@color/white"
                    android:textStyle="bold"
                    android:fontFamily="@font/berlin"
                    android:buttonTint="#E0FA1A" />
            </RadioGroup>

            <ImageView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_gravity="center"
                android:layout_marginTop="20dp"
                android:src="@drawable/line" />

            <TextView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:text="Language"
                android:textSize="15sp"
                android:textStyle="bold"
                android:textColor="@color/white"
                android:fontFamily="@font/berlin"
                android:gravity="left"
                android:padding="5dp" />

            <RadioGroup
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_marginHorizontal="50dp"
                android:gravity="center"
                android:weightSum="3"
                android:orientation="horizontal" >

                <RadioButton
                    android:id="@+id/english"
                    android:layout_width="75dp"
                    android:layout_height="wrap_content"
                    android:text="English"
                    android:textColor="@color/white"
                    android:textStyle="bold"
                    android:textAlignment="center"
                    android:button="@android:color/transparent"
                    android:background="@drawable/radioo_selector"
                    android:elevation="4dp"
                    android:layout_margin="15dp"
                    android:padding="10dp" />

                <RadioButton
                    android:id="@+id/filipino"
                    android:layout_width="75dp"
                    android:layout_height="wrap_content"
                    android:text="Filipino"
                    android:textColor="@color/white"
                    android:textStyle="bold"
                    android:textAlignment="center"
                    android:button="@android:color/transparent"
                    android:background="@drawable/radioo_selector"
                    android:elevation="4dp"
                    android:layout_margin="15dp"
                    android:padding="10dp" />

                <RadioButton
                    android:id="@+id/spanish"
                    android:layout_width="75dp"
                    android:layout_height="wrap_content"
                    android:text="Spanish"
                    android:textColor="@color/white"
                    android:textStyle="bold"
                    android:textAlignment="center"
                    android:button="@android:color/transparent"
                    android:background="@drawable/radioo_selector"
                    android:elevation="4dp"
                    android:layout_margin="15dp"
                    android:padding="10dp" />
            </RadioGroup>

            <ImageView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_gravity="center"
                android:layout_marginTop="20dp"
                android:src="@drawable/line" />

            <TextView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:text="Profile\n\n\n\n\n"
                android:textSize="15sp"
                android:textStyle="bold"
                android:textColor="@color/white"
                android:fontFamily="@font/berlin"
                android:gravity="left"
                android:padding="5dp" />

            <ImageView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_gravity="center"
                android:layout_marginTop="20dp"
                android:src="@drawable/line" />

            <TextView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:text="About Us\n\n\n\n\n"
                android:textSize="15sp"
                android:textStyle="bold"
                android:textColor="@color/white"
                android:fontFamily="@font/berlin"
                android:gravity="left"
                android:layout_marginBottom="50dp"
                android:padding="5dp" />

        </LinearLayout>

    </ScrollView>

</androidx.constraintlayout.widget.ConstraintLayout>